<div class="emvolta">
	               
	<div class="nome">
		         Cosse Brissac Residence        
		<div class="segundonome">
			         Na 5th Avenue        
		</div>
		               
	</div>
	               
	<div class="caixa">
		               
		<div class="emvoltatexto">
			               
			<p>
				               
			</p>
			               
			<table cellspacing="0" cellpadding="0">
				        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
				<tr style="" valign="middle">
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/44/properties/Property-ce476f0bd7d927cc9ffac5f3b8bfe963-65146185.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/44/properties/Property-ce476f0bd7d927cc9ffac5f3b8bfe963-65146185.jpg); background-size:right;" class="downss">
									                 
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Hall        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/0/properties/Property-d2722d080634e0908df9ee6b8999840d-59767785.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/0/properties/Property-d2722d080634e0908df9ee6b8999840d-59767785.jpg); background-size:center;" class="downss">
									                 
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Sala de visita        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/26/properties/Property-e190ec694f79e3d7c84065bbe7ceb435-59767785.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/26/properties/Property-e190ec694f79e3d7c84065bbe7ceb435-59767785.jpg); background-size:right;" class="downss">
									                 
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Sala de TV       
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/6/properties/Property-58d7d68d6911959ee4a2cbecce687aa7-46919983.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/6/properties/Property-58d7d68d6911959ee4a2cbecce687aa7-46919983.jpg); background-size:left;" class="downss">
									                 
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Biblioteca        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
				</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
				<tr style="" valign="middle">
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/14/properties/Property-f84f310b108c25038db8b63f1e2ee69c-59767785.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/14/properties/Property-f84f310b108c25038db8b63f1e2ee69c-59767785.jpg); background-size:left;" class="downss">
									                 
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Sala de Cinema        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/9/properties/Property-d96d811ca425183ab9080ac2ae97201e-75325505.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/9/properties/Property-d96d811ca425183ab9080ac2ae97201e-75325505.jpg); background-size:left;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Cozinha        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/7/properties/Property-17a5dd67665347d2867257763f10ff56-73694485.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/7/properties/Property-17a5dd67665347d2867257763f10ff56-73694485.jpg); background-size:right;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Sala de Jantar       
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://i.imgur.com/bMX04NG.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://i.imgur.com/bMX04NG.jpg); background-size:left;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Piscina        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
				</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody> <tbody></tbody> <tbody></tbody><tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
				<tr style="" valign="middle">
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(http://f.i.uol.com.br/sobretudo/morar/images/17314504.jpeg); background-size:cover;">
								               
								<div style="background-image: url(http://f.i.uol.com.br/sobretudo/morar/images/17314504.jpeg); background-size:right;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Varanda       
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/34/properties/Property-3d2d619a8151c072ec73140c35826a0d-67713485.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/34/properties/Property-3d2d619a8151c072ec73140c35826a0d-67713485.jpg); background-size:right;" class="downss">
									                 
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Academia        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/11/properties/Property-37331f0fa6cecb0216475f331f8bd3f5-22428121.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/11/properties/Property-37331f0fa6cecb0216475f331f8bd3f5-22428121.jpg); background-size:left;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Sala de Jogos        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/21/properties/Property-d430920a017590fb4a65abe47354d482-63976185.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/21/properties/Property-d430920a017590fb4a65abe47354d482-63976185.jpg); background-size:left;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Escritorio        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
				</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody> <tbody></tbody> <tbody></tbody><tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
				<tr style="" valign="middle">
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/13/properties/Property-2b25b41712535dc1371ec07b77be2a5a-64259365.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/13/properties/Property-2b25b41712535dc1371ec07b77be2a5a-64259365.jpg); background-size:right;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Sala de Estudos        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/4/properties/Property-f2eb87525b022990661c931cc3cdab91-51378685.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/4/properties/Property-f2eb87525b022990661c931cc3cdab91-51378685.jpg); background-size:cover;" class="downss">
									                 
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Suite Emma       
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/5/properties/Property-b7cf9f5d469cf5dfcd8406d6e1693071-51378685.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/5/properties/Property-b7cf9f5d469cf5dfcd8406d6e1693071-51378685.jpg); background-size:right;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Banheiro        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/8/properties/Property-e26e6787eaa37cdbf0eb0688198c2834-73691905.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/8/properties/Property-e26e6787eaa37cdbf0eb0688198c2834-73691905.jpg); background-size:left;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Suite Blaise        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
				</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
				<tr style="" valign="middle">
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/14/properties/Property-eba5a35284eecfa6ba56c7a1b03fbf3d-64259365.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/14/properties/Property-eba5a35284eecfa6ba56c7a1b03fbf3d-64259365.jpg); background-size:right;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Banheiro        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/6/properties/Property-2a1acfc7a761c5adef5f306d8b1f90ae-73691905.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/6/properties/Property-2a1acfc7a761c5adef5f306d8b1f90ae-73691905.jpg); background-size:cover;" class="downss">
									                 
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Suite Gwen     
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://i.pinimg.com/originals/77/53/3c/77533c01b05357d298c57e9a616179ef.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://i.pinimg.com/originals/77/53/3c/77533c01b05357d298c57e9a616179ef.jpg); background-size:cover;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Banheiro        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/31/properties/Property-f5986831b77408e02e15be79e1a52052-65146185.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/08/31/properties/Property-f5986831b77408e02e15be79e1a52052-65146185.jpg); background-size:right;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Quanto de Visita        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
				</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
				<tr style="" valign="middle">
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(); background-size:cover;">
								               
								<div style="background-image: url(); background-size:right;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Banheiro        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://images.homify.com/c_fill,f_auto,h_700,q_auto/v1511813664/p/photo/image/2338148/thumb_IMG_2081_1024.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://images.homify.com/c_fill,f_auto,h_700,q_auto/v1511813664/p/photo/image/2338148/thumb_IMG_2081_1024.jpg); background-size:left;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													        Lavanderia       
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/3/properties/Property-d69a4b6956403b387d9e22e00366f863-59767785.jpg); background-size:cover;">
								               
								<div style="background-image: url(https://pic.le-cdn.com/thumbs/1024x768/160/3/properties/Property-d69a4b6956403b387d9e22e00366f863-59767785.jpg); background-size:right;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Bar        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
					<td>
						               
						<div id="yfbb">
							               
							<div style="width: autopx; height: autopx; background-image: url(); background-size:cover;">
								               
								<div style="background-image: url(); background-size:cover;" class="downss">
									               
									<table>
										        <tbody> </tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody> <tbody></tbody>
										<tr style="">
											               
											<td>
												               
												<div class="traitss">
													         Garagem        
												</div>
												               
											</td>
											               
										</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
									</table>
									               
								</div>
								               
							</div>
							               
						</div>
						               
					</td>
					               
				</tr><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody><tbody></tbody>        
			</table>
			               
		</div>
		               
	</div>
</div><link href="https://fonts.googleapis.com/css?family=Supermercado+One&display=swap" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=Akronim|Cabin+Sketch|Fredericka+the+Great|Kranky|Lobster&display=swap" rel="stylesheet" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap" /><style type="text/css">.nome{width: 580px;line-height:100%; background-image: linear-gradient(to right bottom, #000000, #c9c9c9, #ffffff, #e6e6e6, #a1a1a1,#787878);border-top:1px solid #f1f1f1;border-right:1px solid #f1f1f1; border-left:1px solid #f1f1f1;font-family: 'Supermercado One', sans-serif;font-size: 60px; text-transform:lowercase;color:#4d4949; margin: auto; padding: 30px; text-align:right;opacity:0.8;}.segundonome{font: 7px/7px 'helvetica', 'arial'; letter-spacing: 1px; text-align: right; text-transform: uppercase; color: #000; font-weight: 600; padding-bottom: 2px;}.emvolta{width:650px;background-color: #fff; border:1px solid #f1f1f1;margin:auto; padding:10px;padding-bottom:20px;}.caixa{width:640px; background-color:#f9f9f9;padding:5px; position: relative;top:10px;left:0px;color: #A3A3A3;border:1px solid #eee;}.emvoltatexto{text-align: justify;margin-top:-5px;width:490px; padding-right:10px; font-family: Roboto; text-transform: lowercase; font-size: 9px; line-height: 200%; color: #adadad !important;}#yfbb{width:140px;height:140px; border-top:10px #fefefe solid;border-right:10px #fefefe solid; border-left:10px #fefefe solid; border-bottom:10px #fefefe solid; overflow: hidden;opacity:0.8;blur:0.8;}.downss{width:140px;height:140px;background-image:url(); background-size:cover;background-position: center;color:white;position:relative; bottom:420px; -webkit-transition-duration: .8s; -moz-transition-duration: .8s; -o-transition-duration: .8s;}#yfbb:hover .downss{bottom: 0px; }.traitss {width:140px; padding:20px; background-color: #fefefe; color: #000;font-family: Bebas Neue; font-size: 13px; font-style: italic; line-height: 60%; letter-spacing: 0px; text-align: center; text-transform: uppercase; position: relative; top: 0px; left: -20px;margin-top: 40px; opacity: 0.6;}</style>

